:root {
	--darkText: #274C5B;
	--lightBg: #fffcfb;
	--pink: #FFF3EC;
  }

/* open sans
font-family: 'Open Sans', sans-serif;
*/
li{
	list-style-type: none
}
.body{
	color: var(--darkText);
}
.cardTitle{
	text-decoration: none;
}
.countryCard{
	width: 20rem;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}



.logo{
	color: #274C5B;
	padding: 0px 30px;
	font-size: 35px;
	font-weight: bold;
}

.navigation {
	color: var(--darkText);
	background: var(--lightBg);
	margin-bottom: 20px;
}

.weatherBox{
	/* background-color: var(--lightBg); */
	padding: 20px;
	font-size: 20px;
}
li{
	padding: 10px 0px;
}
i{
	color: var(--darkText);
	padding: 10px;
}

.page-footer{
	background-color: var(--lightBg);
}

