:myVars {
	--darkText: #274C5B;
	--lightBg: #fffcfb;
	--pink: #FFF3EC;
  }

/* open sans
font-family: 'Open Sans', sans-serif;
*/

.logo{
	color: #274C5B;
	padding: 0px 30px;
	font-size: 35px;
	font-weight: bold;
}

.navigation {
	color: var(--darkText);
	background: var(--lightBg);
	margin-bottom: 20px;
}
.cardImg {
	border-radius: 50px;
}

.search {
	margin-top: 1rem;
}
Button {
	padding: 4rem, 0rem;
	margin: 10px;
	/* box-shadow: inset; */
}
.Link{
	text-decoration: none !important;
}
link{
	text-decoration: none !important;
	color: var(--darkText);
}
